---
import { MIEMBROS } from "../consts/members";
// import fuego from '/public/images/imagen-fuego.svg';

const membersList = MIEMBROS;
---

<section class="members">
    {membersList.map(miembro => (
                <article class="card">
                    <div class="img-card">
                        <img class="img-member" src={miembro.image} alt={miembro.alt}/>
                    </div>
                    <div>
                        <h2>{miembro.name}</h2>
                        <h4>{miembro.position}</h4>
                        <p>{miembro.desc}</p>
                    </div>
                </article>
    ))}
</section>

<style>

    .members{
        display: flex;
        flex-direction: column;
    }

    .card{
        padding: 80px 20px;
        display: flex;
    }

    .img-card{
        background: red;

    }

    .img-member{
        border-radius: 0 0 100% 100%;
        width: 180px;
        filter: drop-shadow(0 0 2px black);
        z-index: 5;
    }    
</style>